body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(22, 22, 22);
}
.fixed-back > span {
  position: absolute;
  color: white;
  font-size: 30px;
}

.fixed-back {
  background: url("s4.webp") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contact-image-2 {
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 100%;
  background-color: transparent;
  padding: 20px 0;
  margin-top: -60px;
}

.contact-image-2 > span {
  font-size: 12px;
  letter-spacing: 3px;
}

.contact-image-2 > span > span {
  color: burlywood;
}
h1.imh {
  text-align: center;
  color: burlywood;
  margin: 100px 50px;
}
.gallery {
  margin: 10px 50px;
  text-align: center;
}
.gallery img {
  width: 230px;
  height: 200px;
  padding: 5px;
  /*filter: grayscale(100%);*/
  transition: 1s;
}
.gallery img:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

/* @media screen and (max-width: 900px) {
  .gallery {
    margin: 50px 50px 350px 50px;
  }
} */
